@media only screen and (min-width:600px ) {
	#main_continer
{
	width: 640px;
	height: 360px;
	position: absolute;
}
}

@media only screen and (min-width:1400px) {
	#main_continer
{
	width: 1280px;
	height: 720px;
	position: absolute;
}
}

body
{
	background-color: #333333;
}

#video_continer
{
	width: 100%;
	height: 100%;
	position: absolute;
}
#danmaku_continer
{
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
}
#danmaku_canvas
{
	width: 100%;
	height: 100%;
	position: absolute;
	pointer-events: none;
}
.danmaku
{
	position: absolute;
	transition:linear 3s all;

    
-moz-transition:linear 3s all;

-webkit-transition:linear 3s all;

-o-transition:linear 3s all;

}
/*.danmakufirst
{
	left: 0px;
}*/